.git
.gitignore
README.md

#
# Rails
#
*.rbc
capybara-*.html
log
tmp
test
db/*.sqlite3
db/*.sqlite3-journal
public/packs
public/packs-test
public/system
coverage/
spec/tmp
**.orig

.bundle
.bundle_ignore
.byebug_history
.rspec

.ruby-version
.ruby-gemset

.bin
node_modules
yarn-error.log

.env
.env.sample
